generate-regions/output/
generate-regions/pack/node_modules/
generate-regions/pack/build
generate-regions/pack/assets
generate-regions/pack/main*
generate-regions/pack/index*
generate-regions/ol-parcel-bundler/node_modules/
generate-regions/ol-browserify
generate-regions/ol-parcel-bundler/dist/
generate-regions/ol-parcel-bundler/.cache
generate-regions/tilelive/
generate-regions/extracts/
generate-regions/python_mbtiles/
osm-source/*/build
osm-source/base/dist
osm-source/test/build
osm-source/test/dist
osm-source/console/build
osm-source/ukids/build



